
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    background-color: antiquewhite;
}
/*===================================Основные блоки====================================*/
.header{
    min-height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: antiquewhite;
}
.maincontainer{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}
/*===================================Активный блок====================================*/
.PlayingField{
    background-color: black;
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 10%;
    animation: loading 5s linear infinite;
}
.block{
    transition: 0.5s ease;
}
.block.left.buttom{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 0;
    bottom: 0;
    border-radius: 0 0 0 10%;
    background-color: rgb(95, 95, 95);
}
.block.left.top{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 0;
    bottom: 0;
    border-radius: 10% 0 0 0;
    background-color: rgb(95, 95, 95);
    transform: translate(0px,-100px);
}
.block.right.top{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 0;
    bottom: 0;
    border-radius: 0 10% 0 0;
    background-color: rgb(95, 95, 95);
    transform: translate(100px,-100px);
}
.block.right.buttom{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 0;
    bottom: 0;
    border-radius: 0 0 10% 0;
    background-color: rgb(95, 95, 95);
    transform: translate(100px,0px);
}
/**@keyframes loading {
    0%{
        border-left: none;
        border-top: 5px solid rgba(95, 95, 95,0.5);
        border-bottom: none;
        border-right: none;
    }
    25%{
        border-left: none;
        border-top: none;
        border-bottom: none;
        border-right: 5px solid rgba(95, 95, 95,0.5);;
    }
    50%{
        border-left: none;
        border-top: none;
        border-bottom: 5px solid rgba(95, 95, 95,0.5);;
        border-right: none;
    }
    75%{
        border-left: 5px solid rgba(95, 95, 95,0.5);;
        border-top: none;
        border-bottom: none;
        border-right: none;
    }
    100%{
        border-left: none;
        border-top: none;
        border-bottom: none;
        border-right: none;
    }
}**/

